@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  position: relative;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  top: 0;
  left: 0;
}
.container {
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(88px);
  position: relative;
  display: flex;
  padding: 55px 75px;
  flex-direction: column;
  gap: 40px;
  border-radius: 24px;
}
.container::after {
  position: absolute;
  height: 400px;
  width: 200px;
  background-color: white;
  top: 0;
}
h1 {
  color: white;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}
form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
.text_input {
  width: 300px;
}
.text_input input {
  width: 100%;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
}
.button_box input {
  border: 2px solid transparent;
  padding: 10px 15px;
  border-radius: 40px;
  font-size: 16px;
  background-color: aqua;
  cursor: pointer;
  font-weight: 700;
}
.button_box input:active {
  background-color: transparent;
  border: 2px solid aqua;
  color: white;
}
#weather_data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}
.icon img {
  width: 200%;
}
.temperature {
  font-size: 55px;
  font-weight: 700;
  color: white;
}
.description {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-bottom: 35px;
}
.details {
  display: flex;
  align-items: center;
  gap: 50px;
}
.details div {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 90%;
    padding: 40px;
  }
}
@media screen and (max-width:560px){
  .details div{
    padding: 10px;
    font-size: 16px;
    text-align: center;
  }
}
@media screen and (max-width:410px){
  h1{
    font-size: 35px;
  }
  .text_input{
    width: 250px;
  }
  .text_input input{
    font-size: 16px;
    font-weight: 500;
  }
  .button_box input{
    padding: 10px;
  }
  .details{
    gap: 20px;
  }
  .details div{
    font-size: 14px;
  }
}
@media screen and (max-width:350px){
  .details{
    gap: 15px;
  }
  .details div{
    padding: 5px;
  }
}